asgiref
asttokens
certifi
cffi
charset-normalizer
colorama
comm
contourpy
coreapi
coreschema
crispy-bootstrap5
cryptography
cycler
debugpy
decorator
distlib
Django
django-allauth
django-ckeditor
django-cors-headers
django-crispy-forms
django-environ
django-filter
django-js-asset
django-rest-swagger
djangorestframework
djangorestframework-simplejwt
dotenv
drf-yasg
executing
filelock
fonttools
fsspec
idna
inflection
ipykernel
ipython
itypes
jedi
Jinja2
joblib
jupyter_client
jupyter_core
kiwisolver
Markdown
MarkupSafe
matplotlib
matplotlib-inline
mpmath
nest-asyncio
networkx
numpy
openapi-codec
opencv-python
packaging
pandas
parso
pillow
platformdirs
prompt_toolkit
psutil
psycopg2-binary
pure_eval
pycparser
pydicom
Pygments
PyJWT
pyparsing
PyPDF2
python-dateutil
python-dotenv
pytz
PyYAML
pyzmq
requests
scikit-learn
scipy
setuptools
simplejson
six
sqlparse
sslcommerz_python_api
stack-data
sympy
threadpoolctl
torch
torchvision
tornado
traitlets
typing_extensions
tzdata
uritemplate
urllib3
virtualenv
wcwidth
Werkzeug